
###############################################################################
#
#    application Config section
#
###############################################################################

application:
  port: "12900"
  key_expiration: 60

###############################################################################
#
#    nsq section
#
###############################################################################

nsq:
  addr: "127.0.0.1:4150"

###############################################################################
#
#    redis section
#
###############################################################################

redis:
  addr: "localhost:6379"
  password: ""
  db: 0